body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../images/patoespia.png);
    background-size: 64px;
    background-repeat: repeat;
}

.default-container {
    background-color: #ffefff;
    box-shadow: 0px 2px 6px 2px #f0eff0;
    
    padding: 5px;
    margin: 5px;

    opacity: 0.9;
}

.header-and-perfil-img-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 3px;

    position: sticky;
    top: 0;
    z-index: 100;
}

header {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    align-items: end;

    border-radius: 20px;
    
    font-family: 'Segoe UI';

    user-select: none;

}

.header-and-perfil-img-container img {
    border-radius: 100%;
    height: 50px;
    box-shadow: 0px 2px 5px #111;
}

header h1{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

    font-size: 1.2em;
}

header nav a {
    margin-left: 10px;
    text-decoration: none;
    color: #222;
    font-size: 0.9em;
    font-family: 'Segoe UI';
    font-weight: 600;
}

header nav button {
    margin-left: 10px;
    text-decoration: none;
    color: #222;
    font-size: 0.9em;
    font-family: 'Segoe UI';
    font-weight: 600;

    border: none;
    padding: 0;
    background-color: #0000;
    cursor: pointer;
}

main {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    align-self: center;
}

.about-me {
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;

    width: 25vw;
    min-height: 150px;
}

.about-me p {
    color: #222;
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 1.05em;
    cursor: text;
}

.container-languages {
    margin: 20px 5px;
    width: fit-content;
}

.languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 5px;

    min-width: 27px;
    max-width: 56px;
    height: fit-content;
}

.languages .language-logo {
    flex-basis: 27px;
    width: 27px;
    height: 27px;
    align-self: center;
}

.languages .language-logo:hover{
    width: 25px;
    height: 25px;
}

.languages .language-logo.no-language-learned {
    filter: grayscale(1);
}

.languages .language-logo.no-language-learned:hover {
    width: 27px;
    height: 27px;
}

.contact {
    margin: 20px;
    padding-left: 10px;
    padding-right: 20px;
    min-width: max-content;
}

.contact .contact-list {
    font-family: 'Segoe UI';
    font-weight: 400;
}

#img-perfil {
    transition-duration: 2s;
}